<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title> Node Web App </title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>

    <body>

        <header>
            <img src='/images/logo.png' alt="logo">
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/list">Todo List</a></li>
            </ul>
        </nav>

        <main>
            <h1> Important Stuff </h1>
            This is the main part of the page...where your important stuff goes.
        </main>

        <footer>
            <small>&copy; <%- new Date().getFullYear(); %> </small>
        </footer>
    </body>
</html>