<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title> Node Web App </title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>

    <body>

        <header>
            <img src='/images/logo.png' alt="logo">
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/list">Todo List</a></li>
            </ul>
        </nav>

        <main>

            <form action="/task" method="post">
                <input id="task" name="task" type="text" placeholder="Enter task description">
                <input id="due"  name="due"  type="date">
                <input type="submit" value="Add Task">
            </form>

            <h1> Todo List </h1>
            <table>
                <caption> You have <%- list.length %> tasks </caption>
                <thead>
                    <tr>
                        <th></th>
                        <th> Task </th>
                        <th> Due  </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% list.forEach(function(todo, index) { %>
                        <tr>
                            <td> <%= index + 1 %> </td>
                            <td> <%= todo.task %> </td>
                            <td> <%= todo.due.toISOString().substring(0, 10) %> </td>
                            <td> <form><input type="submit" value="Done!" formaction="/task/<%- todo.id %>" formmethod="post"></form></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

        </main>

        <footer>
            <small>&copy; <%- new Date().getFullYear(); %> </small>
        </footer>
    </body>
</html>