*, *:before, *:after {
    box-sizing: border-box;
}

body {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


header {
    margin-bottom: 10px;
}

header img {
    max-width: 150px;
    max-height : 150px;
    /* float: left; */
}

nav {
    display: block;
    max-width: 980px;
    z-index: 1;
    min-width: 575px;
    font-family: georgia, serif;
    text-transform: lowercase;
    position: sticky;
    top: 0px;
    margin-bottom: 20px;
}

nav:after {
    content: ".";
    display: block;
    line-height: 1px;
    font-size: 1px;
    clear: both;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
}

nav ul li {
    display: block;
    flex: 1;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 0.65em;
    text-decoration: none;
    color: #ffffff;
    background : #4275bd;
}

nav ul li a:hover {
    background: #1b3964;
    color : #ffffff;
}

thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}



footer {
    margin-top : 30px;
    background-color: gray;
    min-height: 45px;
}
